#nome e cognome: Giuriato Simone
#matricola:

#path: ~/.config/systemd/user/dir-size-monitor.service

#comando per abilitare il service: systemctl --user enable dir-size-monitor.service
#comando per avviare il service: systemctl --user start dir-size-monitor.service

[Unit]
Description= dir-size-monitor-service


[Service]
Environment=PYTHONUNBUFFERED=1

WorkingDirectory=%h/dir-size-monitor

ExecStart=/usr/bin/python3 app.py --target %h/documents --threshold 1000 --interval 60 --log %h

Restart=on-failure

RestartSec=5


[Install]
WantedBy=default.target